<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950568365331-8tt1hunmk5kvprcaeu1ns2b6l435jfav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950568365331-8tt1hunmk5kvprcaeu1ns2b6l435jfav</string>
	<key>API_KEY</key>
	<string>AIzaSyBNVeaMWiXXeoKfC3Yg60FBZKXRdVIacG4</string>
	<key>GCM_SENDER_ID</key>
	<string>950568365331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-project-23471</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-23471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950568365331:ios:b24bd2449f461cffb17ee6</string>
	<key>DATABASE_URL</key>
	<string>https://test-project-23471.firebaseio.com</string>
</dict>
</plist>